.main-pane
{
    -fx-background-color: transparent;
}

.actual-pane
{
    -fx-background-color: #EEEEEE;
}


.title-and-logo
{
    -fx-effect: dropshadow(two-pass-box, gray, 2, 0, 0, 2);
}

.lower-hbox .left-pane
{
    -fx-background-color: #0D0F11;
}

.lower-hbox .right-pane
{
    -fx-background-color: #DA8276;
}

.lower-hbox FontAwesomeIconView:hover
{
    -fx-cursor: hand;
    -fx-fill: #DA8276;
}

.lower-hbox Button
{
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-pref-width: 100;
    -fx-background-radius: 15;

    -fx-font-weight: bold;
    -fx-text-fill: #DA8276;
}

.lower-hbox Button:hover
{
    -fx-cursor: hand;
    -fx-background-color: #0D0F11;
    -fx-text-fill: white;
}


.profile-selection
{
    -fx-padding: 5 5 5 0;
    -fx-spacing: 5;
}

.profile-selection HBox
{
    -fx-effect: dropshadow(two-pass-box, #888585, 5, 0, 0 ,5);
}

.profile-selection .hbox-left
{
    -fx-background-color: transparent;
}

.profile-selection .hbox-right
{
    -fx-background-color: white;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.profile-selection HBox:hover
{
    -fx-cursor: hand;
}

.profile-selection HBox:hover .hbox-left
{
    -fx-background-color: #DA8276;
}

.profile-selection HBox:hover FontAwesomeIconView
{
    visibility: TRUE;
}

.profile-selection HBox:hover .hbox-right
{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.welcome-text-pane Button
{
    -fx-background-color: #0D0F11;
    -fx-pref-height: 35;
    -fx-pref-width: 150;
    -fx-background-radius: 15;

    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.welcome-text-pane Button:hover
{
    -fx-cursor: hand;
    -fx-background-color: #DA8276;
    -fx-text-fill: white;
}


.right-small-circles
{
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-fill: #EEEEEE;
}

#policy-and-close
{
    -fx-fill: black;
    -fx-font-weight: bold;
}

#policy-and-close:hover
{
    -fx-cursor: hand;
    -fx-fill: #DA8276;
}