.main-pane
{
    -fx-background-color: transparent;
}

.actual-pane
{
    -fx-background-color: #0D0F11;
}

.option-pane
{
    -fx-alignment: center_left;
    -fx-padding: 15 10 10 20;
    -fx-spacing: 20;
}

.option-pane Text
{
    -fx-fill: #bd382e;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.text-field
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 0 0 0.5 0;
    -fx-border-color: white;
    -fx-alignment: center;
}