.main_pane
{
    -fx-background-color: #e2e4e7;
}

.upper_right_pane
{
    -fx-background-color: #070b3a;
    -fx-effect: dropshadow(two-pass-box, gray, 50, 0, 0, 5);
}

.title-and-logo
{
    -fx-effect: dropshadow(two-pass-box, gray, 2, 0, 0, 2);
}

.button
{
    -fx-background-color: #070579;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(two-pass-box, gray, 5, 0, 0, 5);
    -fx-text-fill: white;
    -fx-font-weight: bold;

    -fx-pref-width: 150;
    -fx-pref-height: 30;
}

.button:hover
{
    -fx-cursor: hand;
    -fx-background-color: purple;
}

.button FontAwesomeIconView
{
    -fx-fill: white;
}

.call_admin_pane
{
    -fx-background-color: #4745b6;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(two-pass-box, #808080, 5, 0, 0, 5);
}

.call_admin_pane FontAwesomeIconView, Circle
{
    -fx-effect: dropshadow(two-pass-box, black, 5, 0, 0, 2);
}

.call_admin_pane FontAwesomeIconView:hover
{
    -fx-cursor: hand;
}

.give-feedback-pane
{
    -fx-background-color: white;
    -fx-background-radius: 20;

    -fx-effect: dropshadow(two-pass-box, #808080, 3, 0, 0, 3);
}

.give-feedback-pane HBox
{
    -fx-spacing: 10;
}

.give-feedback-pane HBox AnchorPane
{
    -fx-border-color: gray;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.give-feedback-pane HBox AnchorPane:hover
{
    -fx-cursor: hand;
    -fx-background-color: #4745b6;
}

.back_button:hover
{
    -fx-cursor: hand;
    -fx-translate-y: -10;
}