.user_pane
{
    -fx-background-color: #eceef0;
}

.social_pane
{
    -fx-background-color: black;
    -fx-opacity: 0.2;
}

.social_pane FontAwesomeIconView
{
    -glyph-size: 30;
}

.social_pane FontAwesomeIconView:hover
{
    -fx-cursor: hand;
    -glyph-size: 35;
}

TextField, PasswordField
{
    -fx-pref-width: 300;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #020241;
}

.log_in_button
{
    -fx-background-color: linear-gradient(to right, #041027, #091e46, #0f3781, #164cb1);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.log_in_button:hover
{
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to right, #041d27, #093346, #0f7081, #1692b1);
}

.switch:hover
{
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.forgot_pass:hover
{
    -fx-cursor: hand;
    -fx-fill: #1692b1;
    -fx-underline: true;
}