.main-pane
{
    -fx-background-color: transparent;
}

.actual-pane
{
    -fx-background-color: #0D0F11;
}

.scroll-pane
{
    -fx-background-color: #0D0F11;  
}

.scroll-pane .corner
{
    -fx-background-color: #0D0F11;
}

.scroll-bar:vertical, .scroll-bar:horizontal
{
    -fx-background-color: black;
}

.increment-button, .decrement-button
{
    -fx-background-color: #0D0F11;
}

.thumb
{
    -fx-background-color: #0D0F11;
}

.button
{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-pref-width: 100;
    -fx-pref-height: 30;

    -fx-background-radius: 0;
}

.button:hover
{
    -fx-cursor: hand;
    -fx-background-color: #bd382e;
    -fx-text-fill: white;
}