.social_links
{
    -glyph-size: 20;
    -fx-fill: white;
    -fx-font-weight: bold;
}

.social_links:hover
{
    -fx-cursor: hand;
    -fx-fill: #3f48cc;
}



.policy_pane
{
    -fx-background-color: #9e9999;
    -fx-opacity: 0.1;
}

.policy_pane Text
{
    -fx-font-size: 12;
    -fx-fill: #ffffff;
}

.policy_pane:hover
{
    -fx-cursor: hand;
    -fx-background-color: #f8f7f7;
}



.slide_show
{
    -fx-spacing: 15;
}

.slide_show ImageView
{
    -fx-effect: dropshadow(three-pass-box, #2c2b2b, 5, 0, 0, 5);
    -fx-opacity: 0.8;
}

.slide_show AnchorPane
{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 5);
    -fx-font-weight: bold;
    -fx-opacity: 0.6;
}

.slide_show Button
{
    -fx-pref-width: 190;
    -fx-pref-height: 10;

    -fx-background-color: #000000;
    -fx-background-radius: 0;

    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-font-family: Segoe UI;
    -fx-font-weight: bold;
}

.slide_show Button:hover
{
    -fx-cursor: hand;
    -fx-background-color: #041027;
    -fx-text-fill: white;
}

.slide_show Label
{
    -fx-text-fill: #000000;
}


#contact_us
{
    -fx-fill: white;
    -fx-font-family: Segoe UI;
    -fx-font-weight: bold;
    -fx-font-size: 10;
}

#contact_us:hover
{
    -fx-fill: #3f48cc;
    -fx-cursor: hand;
}


.logo:hover
{
    -fx-cursor: hand;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.progress-bar
{
    -fx-accent: white;
}

.progress-bar > .track
{
    -fx-text-box-border: black;
    -fx-control-inner-background: #6d6d6d;
}