.main-pane
{
    -fx-background-color: white;
}

.left-pane
{
    -fx-background-color: #0D0F11;
}

.left-pane .list-view
{
    -fx-background-color: #0D0F11;
    -fx-background-radius: 10;
}



.option_button
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 300;
    -fx-pref-height: 50;

    -fx-background-radius: 0;
}

.option_button:hover
{
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to left, #6d201b,#9c2e26, #bd382e);
}

.text-field
{
    -fx-background-color: #fafbfc;
    -fx-effect: dropshadow(three-pass-box, #757373, 1, 0, 0, 1);
    -fx-background-radius: 5;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0 0 0;
    -fx-pref-height: 40;

    -fx-text-fill: #000000;
}

.done-button
{
    -fx-background-color: linear-gradient(to right, #252a7c, #303696, #3f48cc);
    -fx-effect: dropshadow(three-pass-box, #413939, 1, 0, 0, 1);
    -fx-text-fill: white;
    -fx-font-weight: bold;

    -fx-background-radius: 5;
}

.done-button:hover
{
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to left, #6d201b,#9c2e26, #bd382e);
}

.terms-and-condition:hover
{
    -fx-cursor: hand;
    -fx-fill: #fd0505;
}

.delete-icon
{
    -fx-font-size: 13;
}

.delete-icon:hover
{
    -fx-fill: #9c2e26;
    -fx-cursor: hand;
}