.main-pane
{
    -fx-background-color: transparent;
}

.actual-pane
{
    -fx-background-color: #0D0F11;
}

.option-pane HBox
{
    -fx-translate-x: -500;
}

.option-pane .option-hbox
{
    -fx-spacing: 20;
    -fx-alignment: center_left;
}

.option-pane .option-hbox Text:hover
{
    -fx-cursor: hand;
    -fx-fill: #bd382e;
}

.option-pane FontAwesomeIconView:hover
{
    -fx-cursor: hand;
    -fx-fill: #bd382e;
}

.option-pane:hover HBox
{
    -fx-translate-x: 0;
}

#gray-pane1
{
    -fx-background-color: gray;
    -fx-opacity: 0.2;
}

#gray-pane2
{
    -fx-background-color: gray;
    -fx-opacity: 0.1;
}