.main-pane
{
    -fx-background-color: transparent;
}

.actual-pane
{
    -fx-background-color: white;
}

.actual-pane .left-pane
{
    -fx-background-color: #0D0F11;
}

.msg-bg
{
    -fx-background-color: #4a4b4d;
}

.button
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover
{
    -fx-cursor: hand;
    -fx-background-color: #9c2e26;
}