.main-pane
{
    -fx-background-color: transparent;
}

.actual-pane
{
    -fx-background-color: #EEEEEE;
}

.button
{
    -fx-background-color: #0D0F11;
    -fx-text-fill: white;
}

.button:hover
{
    -fx-cursor: hand;
    -fx-background-color: #3f48cc;
}