.main-pane
{
    -fx-background-color: transparent;
}

.actual-pane
{
    -fx-background-color: white;
}

.welcome-pane
{
    -fx-background-color: linear-gradient(to right, #EEEEEE, #EEEEEE);
    -fx-background-radius: 20 20 20 20;
}

.welcome-pane Text
{
    -fx-fill: rgb(0, 0, 0);
}

.welcome-pane Label
{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-font-family: "Calibri";
}

.credit-card
{
    -fx-background-color: linear-gradient(to right, #0D0F11,#24272b);
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, gray, 5,0,0,5);
}

.total-amount
{
    -fx-background-color: linear-gradient(to right, #EEEEEE, #EEEEEE);
    -fx-background-radius: 10 10 10 10;
}

.total-amount Text
{
    -fx-fill: #000000;
}

.total-amount Label
{
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.account_balance
{
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 15;
}

.account_balance Label
{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-font-family: "Calibri";
}

.arrow_key:hover
{
    -fx-cursor: hand;
    -fx-fill: #888585;
}

.list-view
{
    -fx-background-insets: 0;
}

.chart
{
    -fx-background-color: transparent;
}

.chart-legend
{
    -fx-background-color: transparent;
}

.chart-plot-background
{
    -fx-background-color: transparent;
}

.chart-horizontal-grid-lines
{
    -fx-stroke-width: 0.3;
}

.chart-vertical-grid-lines
{
    -fx-stroke-width: 0.3;
}

.axis-tick-mark
{
    -fx-stroke-width: 0.3;
}

.axis-minor-tick-mark
{
    -fx-stroke-width: 0.3;
}

.chart-series-line
{
    -fx-stroke: black;
    -fx-storke-width: 1;
}

.default-color0.chart-series-line
{
    -fx-background-color: gray;
}

.default-color0.chart-series-line
{
    -fx-background-color: black;
}

.default-color0.chart-line-symbol
{
    -fx-background-color: gray;
}

.default-color1.chart-line-symbol
{
    -fx-background-color: black;
}