.main_pane
{
    -fx-background-color: #EEEEEE;
}

.main_pane Line
{
    -fx-stroke: #bd382e;
}


.left_pane
{
    -fx-background-color: #0D0F11;
}

.left_pane Button
{
    -fx-background-color: transparent;
    -fx-pref-height: 40;
    -fx-text-fill: white;
    -fx-font-weight: bold;

    -fx-alignment: center_left;
    -fx-padding: 0 0 0 20;
}

.left_pane Button:hover
{
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to left, #252a7c, #303696, #3f48cc);
}

.left_pane Button FontAwesomeIconView
{
    -fx-fill: white;
    -glyph-size: 15;
}


.completion_box
{
    -fx-alignment: center;
    -fx-spacing: 10;
}

.completion_box FontAwesomeIconView
{
    -glyph-size: 20;
}

.completion_box Line
{
    -fx-stroke-width: 2;
}

.completion_box AnchorPane
{
    -fx-background-color: linear-gradient(to left, #6d201b,#9c2e26, #bd382e);
    -fx-background-radius: 10;
}



.amount_pane
{
    -fx-background-color: #0D0F11;
    -fx-background-radius: 10;
}

.amount_pane TextField
{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 0.2 0;

    -fx-pref-width: 300;
    -fx-text-fill: white;
}

.receipt
{
    -fx-background-color: #0D0F11;
    -fx-background-radius: 5;
}




.right_pane Button 
{
    -fx-background-color: linear-gradient(to left, #252a7c, #303696, #3f48cc);
    -fx-background-radius: 5;
    -fx-alignment: center;

    -fx-text-fill: white;
    -fx-font-size: 14;

    -fx-pref-width: 150;
    -fx-pref-height: 40;
}

.right_pane Button:hover
{
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to left, #6d201b,#9c2e26, #bd382e);
}