.main_pane
{
    -fx-background-color: transparent;
}

.main_pane FontAwesomeIconView
{
    -fx-fill: white;
    -glyph-size: 20;
}

.main_pane FontAwesomeIconView:hover
{
    -fx-cursor: hand;
}

#about_icon
{
    -fx-fill: black;
}

.main_pane Line
{
    -fx-stroke: white;
    -fx-stroke-width: 1;
}

#right_line
{
    -fx-stroke: black;
}

.main_pane .right_pane
{
    -fx-background-radius: 0 10 0 0;
    -fx-background-color: #ffffff;
}

.main_pane .right_pane Button
{
    -fx-pref-width: 145;
    -fx-background-color: transparent;
    -fx-alignment: center;

    -fx-text-fill: black;
    -fx-font-family: Segoe UI;
    -fx-font-size: 15;
}

.main_pane .right_pane Button:hover
{
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to left, #1f2266, #2c338b, #3f48cc);

    -fx-text-fill: white;
}

.left_pane
{
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 5);
    -fx-background-color: #0D0F11;
}

#MAT
{
    -fx-fill: #3f48cc;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

#BANK
{
    -fx-fill: black;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}