.main-pane
{
    -fx-background-color: transparent;
}

.actual-pane
{
    -fx-background-color: #0D0F11;
}

.circle
{
    -fx-stroke: #131858;
    -fx-stroke-width: 5;
}

.left_overview
{
    -fx-background-color: #0D0F11;
    -fx-effect: dropshadow(three-pass-box, black, 5,0,0,5);
}

.left_overview FontAwesomeIconView
{
    -fx-fill: white;
    -glyph-size: 20;
}

.left_overview FontAwesomeIconView:hover
{
    -fx-fill: #a84004;
    -fx-cursor: hand;
}

.left_overview Text
{
    -fx-fill: white;
    -fx-font-size: 15;
}

.left_overview Label
{
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}



.option-hbox
{
    -fx-padding: 10 10 10  65;
    -fx-alignment: center_left;
    -fx-background-color: #EEEEEE;
}

.option-hbox Button
{
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-background-color: linear-gradient(to right, #0D0F11, #21262b);
    
    -fx-background-radius: 0;

    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.option-hbox Button:hover
{
    -fx-background-color: linear-gradient(to left, #eaecf1, white);

    -fx-text-fill: black;
    -fx-cursor: hand;
}


.details-pane
{
    -fx-background-color: linear-gradient(to right, #dee1e4, #EEEEEE);
    -fx-border-color: black;
    -fx-border-width: 0.5;
}

.details-pane Text
{
    -fx-fill: black;
}

.details-pane AnchorPane
{
    -fx-background-color: #0D0F11;
    -fx-background-radius: 10;
}

.details-pane AnchorPane Text
{
    -fx-fill: white;
}

.details-pane Button
{
    -fx-background-color: linear-gradient(to right, #0D0F11, #21262b);
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.details-pane Button:hover
{
    -fx-background-color: linear-gradient(to left, #1f2266, #2c338b, #3f48cc);
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.details-pane TextField, PasswordField
{
    -fx-pref-width: 400;
    -fx-pref-height: 25;

    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 0 0 0.5 0;
    -fx-background-color: transparent;
}