.main_pane
{
    -fx-background-color: #0D0F11;
    -fx-effect: dropshadow(three-pass-box, black, 5,0,0,5);
}

.main_pane FontAwesomeIconView
{
    -fx-fill: white;
    -glyph-size: 18;
}

.main_pane Circle:hover
{
    -fx-cursor: hand;
}

.main_pane Text:hover
{
    -fx-cursor: hand;
    -fx-fill: #1853c2;
}

.main_pane TextField
{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.search_icon:hover
{
    -fx-cursor: hand;
    -fx-fill: #0f3781;
}