.main-pane
{
    -fx-background-color: transparent;
}

.actual-pane
{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(to right,#0D0F11,#202429,#21272c);
    -fx-effect: dropshadow(three-pass-box, #5e5e5e, 5,0,0,5);
}

.actual-pane AnchorPane
{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
}

.actual-pane FontAwesomeIconView
{
    -glyph-size: 15;
    -fx-fill: white;
}

#dollar
{
    -fx-fill: black;
}

.actual-pane FontAwesomeIconView:hover
{
    -fx-cursor: hand;
    -fx-fill: #bd382e;
}